  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: monospace;
    color: #fff;
    line-height: 1.5;
  }
  div.outer {
    background-color: #0b091f;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  div.inner {
    background-color: #000;
  }
  ul {
    margin: 0;
    padding: 10px 35px 10px 20px;
    list-style-type: none;
    font-size: 14px;
  }
  li {
    padding: 5px 0px;
  }
  li {
    transform: translateX(2px);
  }
  li span {
    font-style: italic;
    font-size: 12px;
    color: #b37b89 !important;
  }
